form {
    margin: 50px auto; /* center form horizontally and give some margin from top */
    max-width: 500px; /* set maximum width for the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  label {
    display: block; /* display label as a block to separate each input */
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; /* set input and textarea width to 100% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #016b66;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #003a37;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    margin-top: 100px;
}